# Credenciais
sa-candidato-ae.json
*.json.key
.env
GOOGLE_APPLICATION_CREDENTIALS
dbt/profiles.yml
dbt/.user.yml

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
target/
dbt_packages/
logs/

# Dagster
.dagster_home/
.tmp_dagster_home*/
storage/

# Dados locais / landing intermediário
*.sqlite
data/landing/
